@using CSETWebCore.Reports.Models
@using CSETWebCore.Model.Edm
@model CrrViewModel

@{
    void RenderScores()
    {
        for (int i = 0; i < Model.ParentScores.Count; i++)
        {
            List<EDMscore> children = Model.ParentScores[i].children;
            <div class="col-auto col-mod" style="padding-right: 0">
                <div class="row">
                    <div class="col-auto col-mod" style="margin-right: 30px; margin-bottom: 10px">
                        <div class="row">
                            <div class="col col-mod col-mod-header @getScoreStyle(Model.ParentScores[i].parent.Color)">@Model.ParentScores[i].parent.Title_Id</div>
                        </div>
                        <div class="row">
                            @{ 
                                for (int j = 0; j < children.Count; j++)
                                {
                                    string lastMargin = j == children.Count - 1 ? "0px" : "3px";
                                    <div class="col col-mod col-mod-group" style="margin-right: @lastMargin">
                                        <div class="row" style="margin-bottom: 2px">
                                            <div class="col col-mod col-mod-score @getScoreStyle(children[j].Color)">@children[j].Title_Id</div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
         
        }

    }

    string getScoreStyle(string score)
    {
        switch (score.ToLower())
        {
            case "red": return "red-score";
            case "yellow": return "yellow-score";
            case "green": return "green-score";
            case "lightgray": return "light-gray-score";
            default: return "default-score";
        }
    }

}

<h1>CRR Performance</h1>
<div class="row mb-5" style="font-family: Verdana, sans-serif">
    @{ RenderScores(); }
</div>

