@using CSETWebCore.Helpers.ReportWidgets;
@using System.Xml.Linq;


@{
    XDocument xDoc = Model.CRRScores.XCsf;
}


<link rel="stylesheet" href="@(TempData["links"]+"/lib/bootstrap/css/bootstrap.min.css")" />
<link rel="stylesheet" href="@(TempData["links"]+"/css/site.css")" />

<style>
    .bb-1 {
        border-bottom: solid 1px black;
    }

    .bb-2 {
        border-bottom: solid 2px black;
    }

    .bb-3 {
        border-bottom: solid 3px black;
    }

    .vertical-text {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: bottom;
        font-size: xx-large;
        font-weight: bolder;
        color: #fff;
        top: 10rem;
        right: -5rem;
        white-space: nowrap;
    }
</style>

@{
    var answeredNo = new List<string>() { "N", "U" };

    BarChartInput GetAnswerDistrib(XElement? element)
    {
        if (element == null)
        {
            return new BarChartInput();
        }

        var myQs = element.Elements("CrrReference");

        var distrib = new List<int>();
        distrib.Add(myQs.Count(x => x.Attribute("answer")?.Value == "Y"));
        distrib.Add(myQs.Count(x => x.Attribute("answer")?.Value == "I"));
        distrib.Add(myQs.Count(x => answeredNo.Contains(x.Attribute("answer")?.Value)));

        var d = new BarChartInput()
        {
            AnswerCounts = distrib
        };

        return d;
    }

    BarChartInput GetDeepAnswerDistrib(XElement element)
    {
        var myQs = element.Descendants("CrrReference");

        var distrib = new List<int>();
        distrib.Add(myQs.Count(x => x.Attribute("answer")?.Value == "Y"));
        distrib.Add(myQs.Count(x => x.Attribute("answer")?.Value == "I"));
        distrib.Add(myQs.Count(x => answeredNo.Contains(x.Attribute("answer")?.Value)));

        var d = new BarChartInput()
        {
            AnswerCounts = distrib
        };

        return d;
    }


}


<h1>NIST Cybersecurity Framework Summary</h1>

<div class="row" style="background-color: #000; color: #fff">
    <div class="col-1">
        Function
    </div>
    <div class="col-3">
        Category
    </div>
    <div class="col-3">
        Subcategory
    </div>
    <div class="col-5">
        CRR References
    </div>
</div>

@foreach (var func in xDoc.Descendants("Function"))
{
    var distFunc = GetDeepAnswerDistrib(func);
    distFunc.Height = 100;
    distFunc.Width = 200;
    distFunc.IncludePercentFirstBar = true;
    var barChart = new ScoreBarChart(distFunc);




    <div class="row flex-row bb-3 py-1">
        <div class="col-1 d-flex" style="background-color: @Model.CRRScores.CsfFunctionColors[func.Attribute("code").Value]">
            <div class="vertical-text">
                @{
                    var label = String.Format("{0} ({1})",
                        func.Attribute("name")?.Value.ToUpper(),
                        func.Attribute("code")?.Value.ToUpper());
                    @Html.Raw(label);
                }
            </div>
        </div>

        <div class="col-11 d-flex flex-column p-0">

            <div class="d-flex flex-row bb-2">
                <div class="col-3 py-2">
                    <div>

                        @{
                            var summ = String.Format("<b>{0} Summary</b>",
                                @func.Attribute("name")?.Value.ToUpper());
                            @Html.Raw(summ);
                        }
                    </div>
                    <div>
                        @Html.Raw(barChart)
                    </div>
                </div>
                <div class="col-9 py-2">
                    <b>
                        @func.Attribute("desc")?.Value
                    </b>
                </div>
            </div>


            @foreach (var cat in func.Elements("Category"))
            {
                var s2 = "";
                if (!cat.Equals(func.Elements("Category").Last()))
                {
                    s2 = "bb-2";
                }

                <div class="d-flex flex-row @s2">
                    <div class="col-3 pt-2 pb-4">
                        <div>
                            @{
                                var d = $"<b>{cat.Attribute("name").Value} ({cat.Attribute("code").Value}):</b> {cat.Attribute("desc").Value}";
                                @Html.Raw(d);
                            }
                        </div>

                        @if (cat.Element("References") != null)
                        {
                            <div class="mt-2">
                                <div>
                                    @{
                                        d = $"<b>{cat.Parent.Attribute("code").Value}.{cat.Attribute("code").Value}:</b>";
                                        @Html.Raw(d);
                                    }
                                </div>
                                @{
                                    var distCat = GetAnswerDistrib(cat.Element("References"));
                                    distCat.Height = 15;
                                    distCat.Width = 200;
                                    var chartCat = new ScoreStackedBarChart(distCat);
                                }
                                @Html.Raw(chartCat)

                            </div>
                        }

                    </div>

                    <div class="d-flex flex-column">
                        @foreach (var subcat in cat.Elements("Subcategory"))
                        {
                            var s1 = "";
                            if (!subcat.Equals(cat.Elements("Subcategory").Last()))
                            {
                                s1 = "bb-1";
                            }

                            <div class="d-flex flex-row py-2 @s1">
                                <div class="col-5">
                                    @{
                                        d = $"<b>{subcat.Attribute("title").Value}:</b> {subcat.Attribute("desc").Value}";
                                        @Html.Raw(d);
                                    }

                                </div>
                                <div class="col-7" style="align-items: center;">

                                    @{
                                        var distSubcat = GetAnswerDistrib(subcat.Element("References"));
                                        distSubcat.Height = 15;
                                        distSubcat.Width = 360;
                                        var chartSubcat = new ScoreStackedBarChart(distSubcat);
                                    }
                                    @Html.Raw(chartSubcat)

                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
