@using CSETWebCore.Helpers.ReportWidgets;
@using System.Xml.Linq;


@{
    XDocument xMappings = Model.CRRScores.XCsf;
    XDocument xAnswers = Model.CRRScores.XDoc;
}


<link rel="stylesheet" href="@(TempData["links"]+"/lib/bootstrap/css/bootstrap.min.css")" />
<link rel="stylesheet" href="@(TempData["links"]+"/css/site.css")" />

<style>
    .bb-1 {
        border-bottom: solid 1px black;
    }

    .bb-2 {
        border-bottom: solid 2px black;
    }

    .bb-3 {
        border-bottom: solid 3px black;
    }
</style>

@{
    var answeredNo = new List<string>() { "N", "U" };

    BarChartInput GetDeepAnswerDistrib(XElement element)
    {
        var myQs = element.Descendants("CrrReference");

        var distrib = new List<int>();
        distrib.Add(myQs.Count(x => x.Attribute("answer")?.Value == "Y"));
        distrib.Add(myQs.Count(x => x.Attribute("answer")?.Value == "I"));
        distrib.Add(myQs.Count(x => answeredNo.Contains(x.Attribute("answer")?.Value)));

        var d = new BarChartInput()
        {
            AnswerCounts = distrib
        };

        return d;
    }
}




<h3 class="depiction-title mb-3">NIST Cybersecurity Framework Category Performance</h3>

<div class="row" style="background-color: #000; color: #fff">
    <div class="col-1 col-form-label-sm">
        Function
    </div>
    <div class="col-3 col-form-label-sm">
        Category
    </div>
    <div class="col-3 col-form-label-sm">
        Subcategory
    </div>
    <div class="col-5 col-form-label-sm">
        CRR References
    </div>
</div>

@{ var lastFunc = xMappings.Descendants("Function").Last();   }
@foreach (var func in xMappings.Descendants("Function"))
{
    var distFunc = GetDeepAnswerDistrib(func);
    distFunc.Height = 100;
    distFunc.Width = 200;
    distFunc.IncludePercentFirstBar = true;
    var barChart = new ScoreBarChart(distFunc);



    var bb = func.Equals(lastFunc) ? null : "bb-3";
    <div class="row flex-row @bb py-1">
        <div class="col-1 d-flex" style="background-color: @Model.CRRScores.CsfFunctionColors[func.Attribute("code").Value]">
            <div class="vertical-text">
                @*@{
                    var label = String.Format("{0} ({1})",
                        func.Attribute("name")?.Value.ToUpper(),
                        func.Attribute("code")?.Value.ToUpper());
                    @Html.Raw(label);
                }*@
            </div>
        </div>

        <div class="col-11 d-flex flex-column p-0">

            <div class="d-flex flex-row bb-2">
                <div class="col-3 py-2 px-2">
                    <div>

                        @{
                            var summ = String.Format("<b>{0} Summary</b>",
                                @func.Attribute("name")?.Value.ToUpper());
                            @Html.Raw(summ);
                        }
                    </div>
                    <div>
                        @Html.Raw(barChart)
                    </div>
                </div>
                <div class="col-9 py-2 px-2">
                    <b>
                        @func.Attribute("desc")?.Value
                    </b>
                </div>
            </div>


            @foreach (var cat in func.Elements("Category"))
            {
                var s2 = "";
                if (!cat.Equals(func.Elements("Category").Last()))
                {
                    s2 = "bb-2";
                }

                <div class="d-flex flex-row @s2">
                    <div class="col-3 pt-2 px-2 pb-4">
                        <div>
                            @{
                                var d = $"<b>{cat.Attribute("name").Value} ({cat.Attribute("code").Value}):</b> {cat.Attribute("desc").Value}";
                                @Html.Raw(d);
                            }
                        </div>

                        @if (cat.Element("References") != null)
                        {
                            <div class="mt-4" style="border-top: 1px solid #000">
                                <div>
                                    <b>CRR Practices</b>
                                </div>
                                <div class="d-flex flex-wrap">
                                    @{
                                        var mappedQs = cat.Element("References").Elements().ToList();

                                        var block = new NistDomainBlock(mappedQs);
                                        foreach (string heatmap in block.HeatmapList)
                                        {
                                            @Html.Raw(heatmap);
                                        }

                                    }
                                </div>
                            </div>
                        }

                    </div>

                    <div class="d-flex flex-column w-100">
                        @foreach (var subcat in cat.Elements("Subcategory"))
                        {
                            var s1 = "";
                            if (!subcat.Equals(cat.Elements("Subcategory").Last()))
                            {
                                s1 = "bb-1";
                            }

                            <div class="d-flex flex-row py-2 px-2 @s1">
                                <div class="col-5">
                                    @{
                                        d = $"<b>{subcat.Attribute("title").Value}:</b> {subcat.Attribute("desc").Value}";
                                        @Html.Raw(d);
                                    }

                                </div>
                                <div class="col-7 d-flex flex-wrap">

                                    @{
                                        var mappedQs = subcat.Element("References").Elements().ToList();

                                        var block = new NistDomainBlock(mappedQs);
                                        foreach (string heatmap in block.HeatmapList)
                                        {
                                            @Html.Raw(heatmap);
                                        }

                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
