@using CSETWebCore.Reports.Models
@using CSETWebCore.Model.Edm
@model CrrViewModel

@{
    void RenderScores()
    {
        for (int i = 0; i < Model.ParentScores.Count; i++)
        {
            List<EDMscore> children = Model.ParentScores[i].children;
            <div class="col-auto col-mod" style="padding-right: 0">
                <div class="row">
                    <div class="col-auto col-mod" style="margin-right: 30px; margin-bottom: 10px">
                        <div class="row">
                            <div class="col col-mod col-mod-header @getScoreStyle(Model.ParentScores[i].parent.Color)">@Model.ParentScores[i].parent.Title_Id</div>
                        </div>
                        <div class="row">
                            @{ 
                                for (int j = 0; j < children.Count; j++)
                                {
                                    string lastMargin = j == children.Count - 1 ? "0px" : "3px";
                                    <div class="col col-mod col-mod-group" style="margin-right: @lastMargin">
                                        <div class="row" style="margin-bottom: 2px">
                                            <div class="col col-mod col-mod-score @getScoreStyle(children[j].Color)">@children[j].Title_Id</div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
         
        }

    }

    string getScoreStyle(string score)
    {
        switch (score.ToLower())
        {
            case "red": return "red-score";
            case "yellow": return "yellow-score";
            case "green": return "green-score";
            case "lightgray": return "light-gray-score";
            default: return "default-score";
        }
    }

}
<style>
    .crr-appendix-a p {
        font-size: small;
        margin: 0;
    }

    .crr-appendix-a h2 {
        font-size: medium;
    }

    .hanging-indent {
        padding-left: 1.75em;
        text-indent: -1.75em;
    }

    .legend-color-box {
        display: inline-block;
        width: 1em;
        height: 1em;
    }

    .col-1-ext {
        width: 12.5%;
    }
</style>

<div class="row">
    <div class="col-md-5">
        <h1>CRR Performance</h1>
    </div>
    <div class="col-md-1" style="text-align: end">
        <p style="font-size: medium">Legend</p>
    </div>
    <div class="col-md-2">
        <p><span class="legend-color-box green-score"></span>= Performed</p>
        <p class="hanging-indent"><span class="legend-color-box yellow-score"></span>= Incompletely Performed</p>
        <p><span class="legend-color-box red-score"></span>= Not Performed</p>
    </div>
    <div class="col-md-2 hanging-indent">
        <p>Q1 = Question Number</p>
        <p>1P = Question Number, People Asset</p>
        <p>1I = Question Number, Information Asset</p>
    </div>
    <div class="col-md-2 hanging-indent">
        <p>1T = Question Number, Technology Asset</p>
        <p>1F = Question Number, Facilities Asset</p>
    </div>
</div>
<div class="row mt-1" style="border-top: solid 1px black;">
    <div class="col-sm-6">
        <p><b>MIL-1 Performed:</b><br/> Domain practices are being <br/> performed.</p>
    </div>
    <div class="col-md-1 col-1-ext">
        <p><b>MIL-2 Planned:</b> Domain practices are supported by planning, policy, stakeholders, and standards.</p>
    </div>
    <div class="col-md-1 col-1-ext">
        <p><b>MIL-3 Managed:</b> Domain practices are supported by governance and adequate resources.</p>
    </div>
    <div class="col-md-1 col-1-ext">
        <p><b>MIL-4 Measured:</b> Domain practices are supported by measurement, monitoring, and executive oversight.</p>
    </div>
    <div class="col-md-1 col-1-ext">
        <p><b>MIL-5 Defined:</b> Domain practices are supported by enterprise standardization and analysis of lessons learned.</p>
    </div>
</div>
<div class="row mt-2 mb-2" style="border-top: solid 1px black; border-bottom: solid 1px black;">
    <div class="col-md-4">
        <h2 style="">DOMAIN SUMMARY</h2>
    </div>
    <div class="col-md-8">
        <h2>MIL-1 PRACTICE LEVEL PERFORMANCE SUMMARY</h2>
    </div>
</div>

<div class="row mb-5" style="font-family: Verdana, sans-serif">
    @{ RenderScores(); }
</div>

