<link rel="stylesheet" href="@(TempData["links"]+"/lib/bootstrap/css/bootstrap.min.css")" />
<link rel="stylesheet" href="@(TempData["links"]+"/css/site.css")" />

<div style="text-align: center;">
    <div class="row">
        <div class="col">
            <img style="width: 267px; margin: 30px 0" src="@TempData["Links"]/images/CISA_Logo_1831px.png" alt="CISA">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>
                CYBER RESILIENCE REVIEW
                <br />
                <br />
                SELF-ASSESSMENT REPORT
                <br />
                <br />
                FOR
            </h3>
            <br />
            <br />
            <h3>@Model.AssessmentDetails.FacilityName</h3>
            <br />
            <br />
            <h3>@DateTime.Now.ToString("MMMMM d, yyyy")</h3>
        </div>
    </div>
</div>


<style>
    /* CISA Self Assessment Page */
</style>