<link rel="stylesheet" href="@(TempData["links"]+"/lib/bootstrap/css/bootstrap.min.css")" />
<link rel="stylesheet" href="@(TempData["links"]+"/css/site.css")" />

<section style="width:100%;">
    <img style="padding: 2rem; height: 125px;" src="@TempData["Links"]/images/DHS-CISA-Logo.png" alt="CISA" />
    <br />
    <img src="@(TempData["links"]+"/images/CRR/report-header.jpg")" style="height: 400px;" />
    <div class="coversheet-text">
        <h1>
            CYBER RESILIENCE <br /> REVIEW (CRR)
        </h1>
        <hr style="height: 2px; color: black !important;" />
        <h2>Self-Assessment Package</h2>
        <br />
        <p style="font-size: 12pt; color: #005288;">@DateTime.Now.ToString("MMMM yyyy")</p>
    </div>
</section>

<style>
    /* Cover Sheet */
</style>