@using CSETWebCore.Business.Reports
@using System.Text.RegularExpressions
@model CrrViewModel
@*Using embedded styles because this page will just be converted straight to pdf.*@
<link rel="stylesheet" href="@(TempData["links"]+"/css/site.css")" />

@{ 
    Layout = "_CrrBasicReportBase";
    ViewData["Title"] = "DEFICIENCY REPORT CRR";
}

@section Summary {
    <p>
        This deficiency report lists the statements that are not currently compliant or "No" answers.
    </p>
    <p>
        This is often referred to as the GAP Report. This report intends to list the gaps, assist users of
        the report in identifying gaps, prioritizing work, and beginning to make a plan to address
        the gaps by implementing the controls necessary to come into compliance with the associated statement.
    </p>
    <p>
        The percentage gap in each domain is also listed and will help to determine the priority.
        EDM is a cumulative maturity Model.ReportData meaning lower levels should be completed before
        moving to higher levels. Ideally baseline should be completed before focusing efforts on
        controls in evolving and so forth up the line of maturity levels.
    </p>
}

@section Content {
    <div class="row justify-content-between border-2 border-dark border-bottom page-break">
        <div class="col text-start">
            <h2>Deficiencies</h2>
        </div>
        <div class="col text-end">
            <p>
                Marked for Review - <img class="MarkedFlag"
                                         src="@TempData["Links"]/images/icons/MarkedFlag.png"
                                         alt="marked for review">
            </p>
        </div>
    </div>
    @{
        // Helper function copied from frontend
        string scrubGlossaryMarkup(string unformatted)
        {
            if (unformatted.IndexOf("[[") < 0)
            {
                return unformatted;
            }

            var formatted = "";
            var pieces = unformatted.Split("]]");
            foreach (var piece in pieces)
            {
                var startPos = piece.LastIndexOf("[[");
                if (startPos >= 0)
                {
                    var leadingText = piece.Substring(0, startPos);
                    var term = piece.Substring(startPos + 2);
                    var displayWord = term;

                    if (term.IndexOf('|') > 0)
                    {
                        var p = term.Split('|');
                        term = p[0];
                        displayWord = p[1];
                    }

                    formatted += leadingText + displayWord;
                }
                else
                {
                    formatted += piece;
                }
            }

            return formatted;
        }

        if (Model.ReportData.DeficienciesList.Count == 0)
        {
            <div class="row">
                <div class="col text-start">
                    <h3>There are no deficiencies to display.</h3>
                </div>
            </div>
        }
        else
        {
            foreach (var deficiciency in Model.ReportData.DeficienciesList)
            {
                <div class="row m-2 border-bottom p-3">
                    <div class="col m-0 p-0">
                        <div class="row">
                            <div class="col-3 text-start">
                                <h3 class="small">Practice @deficiciency.Mat.Question_Title</h3>
                            </div>
                            <div class="col-7 text-start">
                                <p>
                                    @Regex.Split(scrubGlossaryMarkup(deficiciency.Mat.Question_Text), @"(?<=^\S+)\s")[1]
                                </p>
                            </div>
                            <div class="col-2 text-end">
                                <p>
                                    @deficiciency.ANSWER.Answer_Text
                                </p>
                            </div>
                        </div>
                        <div class="row border rounded-3 bg-opacity-10" style="background-color: #d6d8db;">
                            <div class="col-3 text-start">
                                <h4>Comment:</h4>
                            </div>
                            <div class="col-9 text-start">
                                <p>@deficiciency.ANSWER.Comment</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}